<div class="postsContainer">
    <div class="postInfo">
        <h2 class="userName" [routerLink]="['/userDetails', username]">{{username}}</h2>
        <h5 class="time"> {{ post?.date | date: 'dd/MM/yyyy HH:mm' }}</h5>
    </div>
    <div class="postContent" [routerLink]="['/postDetails', post.id]">
        <div class="tagsContainer">
            <div *ngFor="let tag of post.tags">
                <p [routerLink]="['/search', tag]">{{tag}}</p>
            </div>
        </div>
        <h1> {{post?.title}}</h1>
        <img *ngIf="post.photo" class="postImage" alt="Post photo" [src]="getFullImageUrl(post?.photo)"> 
        <p class="postText">{{ post?.text }}</p>
    </div>
    <div class="postActions">
        <button (click)="isCommenting = !isCommenting">Comment</button>
        <button (click)="sharePost()">Share</button>
        <button (click)="openComments()"> See Comments</button>
    </div>
    <div *ngIf="isCommenting" class="addComment">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()">
            <input class="commentInput" formControlName="comment" autofocus type="text" placeholder="Write down your thoughts"/> 
            <button class="uploadComment" type="submit" [disabled]="commentForm.invalid">Comment</button>
        </form>
    </div>
    <div *ngIf="seeComments" class="postComments">
        <div *ngFor="let comment of comments">   
            <app-comments [comment]="comment"></app-comments>
        </div>
    </div>
</div>
