<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="formContainer">
    <div class="formBox">
      <label for="userName">Username</label>
      <input type="text" id="userName" name="userName" [(ngModel)]="user.userName" required />
    </div>
  
    <div class="formBox">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="user.name" required />
    </div>
  
    <div class="formBox">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.userEmail" required />
    </div>
  
    <div class="formBox">
      <label for="pronoun">Pronoun</label>
      <input type="text" id="pronoun" name="pronoun" [(ngModel)]="user.pronoun" required />
    </div>
  
    <div class="formBox">
      <label for="gender">Gender</label>
      <input type="text" id="gender" name="gender" [(ngModel)]="user.gender" required />
    </div>
  
    <div class="formBox">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required />
    </div>
  
    <div class="formBox">
      <label for="profile">Profile</label>
      <input type="text" id="profile" name="profile" [(ngModel)]="user.profile" required />
    </div>
  
    <div class="formBox">
      <label for="photo">Profile Photo</label>
      <input type="file" id="photo" name="photo" (change)="onFileSelected($event)" />
    </div>
    
    <div *ngIf="errors.length > 0" class="error-messages">
      <ul>
        <li class="error" *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>

    <div>
      <button type="submit">Register</button>
    </div>
  </form>
  