<div class="postsContainer">
    <div class="postInfo">
        <h2 class="userName" [routerLink]="['/userDetails', username]">{{username}}</h2>
        <div>
            <h5 class="time"> {{ post?.date | date: 'dd/MM/yyyy HH:mm' }}</h5>
            <div *ngIf="isPostOwner" style="display: flex; gap: 10px;">
                <button class="uploadComment" (click)="updatePost = !updatePost"> Update post</button>
                <button class="uploadComment" (click)="deletePost()"> Delete Post</button>
            </div>
            
        </div>
    </div>
    <div class="postContent">
        <div class="tagsContainer">
            <div *ngFor="let tag of post?.tags">
                <p [routerLink]="['/search', tag]">{{tag}}</p>
            </div>
        </div>
        <h1> {{post?.title}}</h1>
        <img *ngIf="post.photo" class="postImage" alt="Post photo" [src]="getFullImageUrl(post?.photo)"> 
        <p class="postText">{{ post?.text }}</p>
    </div>
    <div>
        <form class="InputComment" [formGroup]="commentForm" (ngSubmit)="addComment()">
            <input class="commentInput" formControlName="comment" autofocus type="text" placeholder="Write down your thoughts"/> 
            <button class="uploadComment" type="submit" [disabled]="commentForm.invalid">Comment</button>
        </form>
    </div>
    <div class="postComments" *ngFor="let comment of comments">   
        <app-comments [comment]="comment"></app-comments>
    </div>
</div>
<div *ngIf="updatePost" class="formContainer">
    <app-update-post [Post]="this.post"></app-update-post>
    <button class="cancelButton" (click)="updatePost = !updatePost"> Cancel</button>
</div>
